
@font-face {
    font-family: 'FiraGO-Bold';
    src: url("../../fonts/FiraGO-Bold.ttf");
}

@font-face {
    font-family: 'FiraGO-Light';
    src: url("../../fonts/FiraGO-Light.ttf");
}

@font-face {
    font-family: 'FiraGO-Medium';
    src: url("../../fonts/FiraGO-Medium.ttf");
}

@font-face {
    font-family: 'FiraGO-Regular';
    src: url("../../fonts/FiraGO-Regular.ttf");
}

@font-face {
    font-family: 'FiraGO-SemiBold';
    src: url("../../fonts/FiraGO-SemiBold.ttf");
}

@font-face {
    font-family: 'Larsseit-Bold';
    src: url("../../fonts/Larsseit-Bold.ttf");
}
.bg-blue{
    background-color: #27509C !important;
}
.navbar-brand-img{
    max-height:unset!important;
}
.navbar-light .navbar-nav .nav-link{
    color:#fff;
    font-family: 'FiraGO-Light';
    font-size: 16px;
    font-weight:unset;

}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#FDB714;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover svg path{
    stroke:#FDB714;
}

.navbar{
    height: 149px;
    position:fixed;
    width:100%;
    z-index:9999999;
}
.navbar-brand{
    margin-right:1rem;
}
.search-text {
    width: 100%;
    border: none;
    color: #fff;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 15px;
/*    transition: 0.4s;*/
    line-height: 50px;
    font-family: "FiraGO-Regular";
}
.custom-form {
    width: 260px;
    height: 50px;
    border-radius: 10px;
    font-family: "FiraGO-Regular";
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 20px;
   /* transition: 0.3s;*/
}

@media (max-width:1680px) {
    .custom-form {
        width: 240px;
    }
}

@media (max-width:1650px) {
    .custom-form {
        width: 230px;
    }
}

@media (max-width:1380px) {
    .custom-form {
        width: 200px;
    }
}

@media (max-width:1350px) {
    .custom-form {
        width: 180px;
    }
}

@media (max-width:1260px) {
    .custom-form {
        width: 170px;
    }
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left:unset!important;
    padding-right:unset!important;
    -moz-font-feature-settings: 'case';
    -webkit-font-feature-settings: 'case';
    font-feature-settings: 'case' on;
}

.search-text::-webkit-input-placeholder { /* Edge */
    color: #a9bad8;
}

.search-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a9bad8;
}

.search-text::placeholder {
    color: #a9bad8;
}



.mr-item {
    margin-left: 50px;
}

@media (max-width:1570px) {
    .mr-item {
        margin-left: 30px;
    }
}

@media (max-width:1350px) {
    .mr-item {
        margin-left: 25px;
    }
}

@media (max-width:1260px) {
    .mr-item {
        margin-left: 20px;
    }
}

.mr-76{
    margin-right: 76px;;
}

@media (max-width:1500px) {
    .mr-76{
        margin-right: 0;
    }
}



.gd-news .date-box-title {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    margin-bottom: 10px
}

.gd-news .gd-news-title {
    font-size: 25px;
    font-family: "FiraGO-SemiBold";
    color: #0C1422!important;
    line-height: 40px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.gd-news .gd-news-title:hover {
    color: #27509C!important;
}

.gd-news .gd-news-description {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px!important;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media (min-width:1200px) and (max-width:1300px) {
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .gd-news p.gd-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (min-width:1300px) and (max-width:1370px) {
    .slider-pg {
        bottom: -6px!important;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .gd-news p.gd-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 20px;
        line-height: 30px
    }

    .gd-news p.gd-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 16px!important;
        line-height: 25px;
    }
}

@media (min-width:490px) and (max-width:767px) {
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 15px;
        line-height: 20px;
    }

    .gd-news p.gd-news-description {
        display: none;
    }
    .gd-news .date-box-title {
        font-size: 13px;
        margin-bottom: 5px;
    }
}

@media (min-width:0px) and (max-width:489px) {
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 15px;
        line-height: 20px;
    }

    .gd-news p.gd-news-description {
        display: none;
    }
    .gd-news .date-box-title {
        font-size: 13px;
        margin-bottom: 5px;
    }
}



.gd-news {
    outline: none;
    background-color:#fff;
}


.breadcrumb-item {
    font-size: 20px!important;
    color: #646464!important;
    font-family: 'FiraGO-Regular';
    -moz-font-feature-settings: 'case';
    -webkit-font-feature-settings: 'case';
    font-feature-settings: 'case' on;
}

.breadcrumb-item_other {
    font-size: 20px!important;
    color: #5C5C5C!important;
    font-family: "FiraGO-Regular";
    -moz-font-feature-settings: 'case';
    -webkit-font-feature-settings: 'case';
    font-feature-settings: 'case' on;
}

@media (max-width:768px) {
    .breadcrumb-item {
        font-size: 15px!important;
    }
    .breadcrumb-item svg {
        width: 7px;
        height: 14.7px;
        margin-bottom: 2px;
        margin-right: 5px!important;
    }
    .breadcrumb-item_other {
        font-size: 15px!important;
    }

    .breadcrumb-item_other svg {
        width: 7px;
        height: 14.7px;
        margin-bottom: 2px;
    }
}
a{
text-decoration:unset!important;
}

.mb-54 {
    margin-bottom: 54px;
}

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto

}

.breadcrumb{
    padding-top:3rem!important;
    padding-bottom:3rem!important;
}


@media (min-width:1000px){
    .container-custom {
        max-width: 1150px;
    }
}




@media screen and (min-device-width: 1370px) and (max-device-width: 2500px) {
    .container-custom {
        max-width: 1289px;
    }
    .slider-pg{
        bottom:9%!important;
        /*top: 95%!important;*/
        background: unset;
        border-bottom: unset;
        right: 20%!important;
        position: absolute;
    }
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1680px) {

    .slider-pg{
        bottom: -8%!important;
        /* top: 95%!important; */
        background: unset;
        border-bottom: unset;
        right: 17%!important;
        position: absolute;
    }
}


.political-title{
    font-size:20px;
    font-family: "FiraGO-Bold";
    line-height: 25px;
}
.political-desc{
    color:#27509C;
    font-family: 'FiraGO-Regular';
    font-size: 15px;
    line-height: 20px;
}

.date-box-title{
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    margin-bottom: 10px;
    text-align:left;
}

.media-title{
    font-family: "FiraGO-SemiBold";
    font-size:25px;
    line-height: 40px;
    color: #0C1422;
}

.media-title:hover {
    font-family: "FiraGO-SemiBold";
    font-size:25px;
    line-height: 40px;
    color: #27509C;
}



.section-padding .show-more {
    width: 100%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

@media (max-width:768px) {
    .section-padding .show-more {
        height: 77px;
    }
}

@media (min-width:1400px) {
    .section-padding .show-more {
        height: 170px;
    }
    .gd-slider-background {
        height: 85%!important;
    }
}

.section-padding .show-more h1 {
    color: #646464;
    font-size: 15px;
    font-family: "FiraGO-Regular";
}

.section-padding .img-election {
    width: 120px;
    height: auto;
}



.img-majories .card-img-overlay {
    padding: 2rem;
}

.img-majories {
    position: relative;
    padding: 0 20px 20px 15px;
}


.img-majories::before {
    content: '';
    position: absolute;
    top: 20px;
    right: 5px;
    left: 45px;
    bottom: 5px;
    border: 1px solid #27509C;
}

@media (max-width:767px) {
    .img-majories::before {
        top: 10px;
        right: 10px;
        left: 45px;
        bottom: 0;
        border: 5px solid #27509C;
    }
    .img-majories {
        padding: 0 15px 5px 20px;
    }
}

.b-b {
    border-bottom: 1px solid #EBEBEB;
}




.card-title-box-head {
    font-size: 20px;
    font-family: "FiraGO-Regular";
    color:#0C1422;
}

.card-title-box{
    font-size: 20px;
    font-family: "FiraGO-Regular";
    color:#0C1422;
}
.card-title-box-child{
    font-family: 'FiraGO-Bold';
    font-size: 20px;
    color: #27509C;
    text-decoration: none;
}

@media (max-width:768px) {
    .card-title-box {
        font-size: 13px;
    }
    .card-title-box-child {
        margin-bottom: 10px!important;
    }
}


.button-yellow-date{
    background: #FDB714;
    width: 220px;
    height: 49px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-size: 20px;
    font-family: "FiraGO-Bold"
}

@media (max-width:768px) {

    .button-yellow-date {
        width: 174px;
        height: 31px;
        padding: 10px;
        font-size: 15px;
        line-height: 10px;
    }
}





/* internation news */

.internation-news .date-box-title {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    margin-bottom: 10px
}

.internation-news .internation-news-title {
    font-size: 25px;
    font-family: "FiraGO-SemiBold";
    color: #0C1422!important;
    line-height: 40px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.internation-news .internation-news-title:hover {
    color: #27509C!important;
}

.internation-news .internation-news-description {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px!important;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media (min-width:1200px) and (max-width:1300px) {
    .internation-news .internation-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .internation-news p.internation-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .internation-news .internation-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .internation-news p.internation-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .internation-news .internation-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 20px;
        line-height: 30px
    }

    .internation-news p.internation-news-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 16px!important;
        line-height: 25px;
    }
}

@media (min-width:490px) and (max-width:767px) {
    .internation-news .internation-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 15px;
        line-height: 20px;
    }

    .internation-news p.internation-news-description {
        display: none;
    }
    .internation-news .date-box-title {
        font-size: 13px;
        margin-bottom: 5px;
    }
}

@media (min-width:0px) and (max-width:489px) {
    .internation-news .internation-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        font-size: 15px;
        line-height: 20px;
    }

    .internation-news p.internation-news-description {
        display: none;
    }
    .internation-news .date-box-title {
        font-size: 13px;
        margin-bottom: 5px;
    }
}


.sliderContainer {
    position: relative;
}

.slider {
    width: 100%;

}

.slick-slide {

    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {

}


.circle-bg {
    fill: rgba(255, 255, 255, 0.5);
    stroke: #8C8C8C;
    stroke-width: 1;
    stroke-linecap: butt;
}

.circle-go {
    fill: rgba(255, 255, 255, 0);
    stroke: red;
    stroke-width: 5;
}

.progressBarContainer {
    position: absolute;
    bottom: 20px;
    width:300px;
    left:150px;
    border:1px solid red;
}

.progressBarContainer div {
    display: block;
    width: 30%;
    padding: 0;
    cursor: pointer;
    margin-right: 5%;
    float: left;
    color: black;
}

.progressBarContainer div:last-child {
    margin-right: 0;
}

.progressBarContainer div span.progressBar {
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: block;
    border-radius: 50px;
    border:3px solid #EBEBEB;
    right: 80px;
    left:0px;
}

.progressBarContainer div span.progressBar .inProgress {
    background-color: rgba(255, 255, 255, 1);
    width: 0%;
    height: 70px;
    border-radius: 50px;
    stroke-width: 5;
    stroke: red;

}
.navbar-nav .dropright>.dropdown-toggle{
    font-family: 'FiraGO-Light';

}














.date-box-title{
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    margin-bottom: 10px
}


/* ** Homepage slider ** */

.gd-slider-background {
    position: absolute;
    width: 100%;
    height: 85%;
    outline: none;
    background: #F7F7F7;
    z-index: -1;
}

@media (max-width:1280px) {
    .gd-slider-background {
        height: 85%;
    }
}

.gd-slider {
   /* padding-top: 234px;*/
}

@media (max-width:1280px) {
    .gd-slider{
       /* padding-top: 200px;*/
    }
}

@media (max-width:992px) {
    .gd-slider{
       /* padding-top: 96px;*/
    }
    .breadcrumb {
        padding-top: 1rem!important;
        padding-bottom: 0rem!important;
    }
    .show-more h1{
        margin-bottom:0px;
    }
}

@media (max-width:992px) {
    .gd-slider .slider-news-mobile {
        border-bottom:3px solid #4D81E2;
    }
}

.gd-slider .slider-position {
    position:absolute;
    top: 16.2%;
    right: -69.3%;
    background: #FFFFFF;
    border-bottom:5px solid #4D81E2;
    max-width: 812px;
    width: 100%;
    height: auto;
}

@media (max-width:992px) {
    .gd-slider .slider-position {
        display: none;
    }
}

.gd-slider .slider-detail {
    width: 50px;
    height: 5px;
    background-color: #FDB714;
}

@media (max-width:992px) {
    .gd-slider .slider-detail {
        border: 3px solid #FDB714
    }
}

.gd-slider .slider-news {
    background: #FFFFFF;
    border-bottom:5px solid #4D81E2;
    max-width: 812px;
    width: 100%;
    height: auto;
}

.gd-slider .slider-title {
    font-family: "FiraGO-SemiBold";
    color: #0C1422;
    font-size: 35px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    transition: 0.5s;
    margin-bottom: 25px;
}

@media (max-width:1550px) {
    .gd-slider .slider-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (max-width:1300px) {
    .gd-slider .slider-title {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width:1200px) {
    .gd-slider .slider-title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width:992px) {
    .gd-slider .slider-title {
        font-size: 20px;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.gd-slider .date-box-title {
    margin-bottom: 25px;
}

@media (max-width:1200px) {
    .gd-slider .date-box-title {
        margin-bottom: 5px;
    }
}

@media (max-width:992px) {
    .gd-slider .date-box-title {
        font-size: 15px!important;
        margin-bottom: 15px;
    }
}

.gd-slider .slider-title:hover {
    color: #27509C!important;
}


.gd-slider p.slider-description {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px!important;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media (max-width:1570px) {
    .gd-slider p.slider-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media (max-width:1300px) {
    .gd-slider p.slider-description {
        font-size: 16px!important;
        line-height: 25px;
    }
}

@media (max-width:992px) {
    .gd-slider p.slider-description {
        display: none;
    }
}



.navbar-light .navbar-toggler-icon {
    width: 15px;
    height: 19px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #ffffff;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 23px;
    position: absolute;
    height: 2px;
    background-color: #ffffff;
    top: 1px;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 9px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

@media (max-width: 991.98px){
    .navbar-collapse {
        position: fixed;
        top: 9rem;
        left: 0rem;
        height: auto;
        max-height: calc(100%) !important;
        width: calc(100%);
        background-color: #fff;
        border-radius: .375rem;
        box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .15);
        overflow-x: hidden;
        overflow-y: scroll;
        border-radius: unset;
    }
}

.navbar-light .navbar-toggler{
    outline:unset;
}




/* ** Footer styles ** */

.footer-section {
    background: #F8F8F8;
    padding: 0;
    width: 100%;
    border-top: 5px solid #FDB714;
    margin-top: 100px;
}

.footer-section .brand img.logo {
    padding: 0;
    width: 120px;
    margin-bottom: 10px;
}

.footer-section p b {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'FiraGO-Light';
    color: #646464;
    font-weight: bold;
}

@media (max-width:767px) {
    .footer-section p b {
        font-size:15px;
    }
}

.footer-social-link {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
}

.footer-social-link li {
    display: inline-block;
    background-color: transparent;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3 ease-in-out;
    border: 1px solid #034889;
    font-size: 12px;
    margin-right: 5px;
}

.footer-social-link li:hover {
    color: #034889;
    background-color: transparent;
    border: 1px solid #034889;
}

.footer-social-link li i {
    color: #808291;
}

.footer-social-link li i:hover {
    color: #034889;
}

footer.footer-section p {
    font-family: 'FiraGO-Regular';
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0;
    color: #646464;
}

.footer-section p small {
    color: #808291;
    font-size: 11px;
    font-weight: 300;
    font-family: 'FiraGO-Light_1';
}

.footer-section h1 {
    color: #646464;
    font-size: 20px;
    font-family: 'FiraGO-Regular';
    padding-top: 5px;
}

.contact p b {
    font-size: 16px;
    line-height: 1.75em;
    font-weight: 300;
    font-family: 'FiraGO-Light';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
}

footer form .email-form {
    position: relative;
    margin-bottom: 20px;
    max-width: 398px;
}

footer .input-form {
    background-color: #ffffff!important;
    border-radius: 5px!important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none!important;
    padding: 0 20px;
    height: 50px;
    width: 100%;
    transition: border 0.3s ease;
    font-family: "FiraGO-Regular";
    font-size: 15px;
    color: #B2B2B2;
    line-height: 1;
    display: block;
}

footer form .email-form button {
    position: absolute;
    top: 50%;
    right: 1px;
    border: 0;
    background-color: transparent;
    transform: translateY(-50%);
    font-family: "FiraGO-Light";
    font-size: 16px;
    color: #1377C6;
    line-height: 36px;
    display: inline-block;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
    outline:none;
}

footer.footer-section .donor {
    width: 260px;
    height: 81px;
    background-color: #fff;
    border: 1px solid #4D81E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:991px) {
    footer .container {
        max-width: 100%!important;
    }
}


@media (max-width:991px) {
    .navbar-collapse .navbar-nav .dropdown>.dropdown-toggle {
        pointer-events: none;
        color: #0C1422;
        padding-bottom:0px;
        margin-bottom:0px;
    }
    .navbar-collapse .navbar-nav .nav-item {
        padding-bottom: 0rem;
    }
    .navbar-collapse .navbar-nav .nav-item+.nav-item{
        border-top:unset;
    }
    .navbar-collapse .navbar-nav .nav-item {
        padding: 1.5rem;
        padding-top: 2px;
    }
    .navbar-nav .dropright>.dropdown-toggle {
        font-family: 'FiraGO-Light';
        color: #0b1422;
    }
}




/* about party */
.about-party {
    outline: none;
}

.about-title {
    font-family: 'FiraGO-Bold';
    font-size: 20px;
    margin-bottom: 30px;
    color: #0C1422;
    line-height: 30px;
}

.about-party p {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    color: #646464;
    line-height: 30px;
}

.about-party p.more {
    font-family: 'FiraGO-Light';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    color: #0C1422;
}

.about-party a p {
    color: #4D81E2;
    font-weight: bold;
    margin-top: 0;
    font-size: 20px;
}

@media (max-width:768px) {
    .about-party p.more {
        font-size: 15px;
        margin-left: 20px;
    }
    .about-party a p {
        font-size:15px;
        line-height:20px;
        margin-left: 20px;

    }
}

.about-party .about-regulation {
    width: 100%;
    height: 160px;
    background-image: linear-gradient(100deg, #E8F4FF, #ffffff);
    border: 1px solid #DDEDFC;
}

.about-party .about-regulation-color {
    width: 100%;
    height: 160px;
    background-image: linear-gradient(100deg, #F2F2F2, #ffffff);
    border: 1px solid #EBEBEB;
}

.about-party .about-regulation img.file {
    width: 36px;
    height: 45px;
}

.about-party .about-regulation-color img.pdf {
    width: 33px;
}

.about-party .about-regulation img.arrow-right {
    width: 10.5px;
    height: 21px;
}

.about-party .about-regulation-color img.icon-download {
    width: 21px;
    height: 28.24px;
}




/* structure */
.structure {
    outline: none;
}
@media (max-width:768px) {
    .structure {
        padding-top: 150px;
    }
}

.structure .structure-title {
    color: #0C1422;
    font-size: 28px;
    font-family: 'FiraGO-Bold';
}

@media (max-width:768px) {
    .structure .structure-title {
        font-size: 25px;
    }
}

.structure .structure-title:hover{
    color: #27509C;
}

.structure .downarrow {
    width: 7.66px;
    height: 7.66px;
    margin-left: 5px;


}

.structure .biography {
    color: #646464;
    font-size: 16px;
    font-family: 'FiraGO-Light';
    font-weight: 200;
    text-decoration: none;
}

.structure .structure-image {
    width: 192px;
    height: 241px;
}

.structure .structure-detail {
    width: 50px;
    height: 5px;
    background-color: #FDB714;
}

.structure .down {
    position: absolute;
    bottom: 0;
}

.structure p.political-desc {
    font-family: 'FiraGO-Regular';
    font-size: 16px;
    margin-bottom: 0;
    color: #27449C;
}

@media (max-width:768px) {
    .structure p.political-desc {
        font-size: 14px;
    }
}




.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-59 {
    margin-bottom: 59px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-54 {
    margin-bottom: 54px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-74 {
    margin-bottom: 74px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-78 {
    margin-bottom: 78px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-90 {
    padding-bottom: 90px;
}


.b-t {
    border-top: 1px solid #EBEBEB;
}



/* news */

.news {
    outline: none;
}

.news .play-icon a svg {
    position: absolute;
    top: 10px;
    right: 25px;
}

@media (min-width:1458px) {
    .news .play-icon a svg {
        position: absolute;
        top: 10px;
        right: 67px;
    }
}

@media (min-width:1421px) and (max-width:1457px) {
    .news .play-icon a svg {
        position: absolute;
        top: 10px;
        right: 55px;
    }
}

@media (min-width:1397px) and (max-width:1420px) {
    .news .play-icon a svg {
        position: absolute;
        top: 10px;
        right: 54px;
    }
}

@media (min-width:1351px) and (max-width:1396px) {
    .news .play-icon a svg {
        position: absolute;
        top: 10px;
        right: 35px;
    }
}

@media (min-width:1342px) and (max-width:1350px) {
    .news .play-icon a svg {
        position: absolute;
        top: 10px;
        right: 25px;
    }
}

.news-title {
    font-size: 25px;
    font-family: "FiraGO-SemiBold";
    color: #0C1422!important;
    line-height: 40px;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;

}

.news-title:hover {
    color: #27509C!important;
}

.news .news-description {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #646464;
    font-weight: 200;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.news .description p {
    font-family: "FiraGO-Light";
    color: #646464;
    font-size: 20px;
    line-height: 30px;
}

.news .about-title {
    font-family: 'FiraGO-SemiBold';
    font-size: 25px;
    margin-bottom: 30px;
    color: #0C1422;
    line-height: 40px;
}

.news p.date-box-title {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    font-weight: normal;
}

.news .sharesize {
    width: 50px;
    height: 50px;
}

.news .share {
    border-top: 1px solid #EBEBEB;
}

.news div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
}

.news .play {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}

.news .play img {
    border-radius: 10px;
}

.news .img-responsive {
    max-width: 398px;
}

@media (max-width:768px) {
    .news .img-responsive {
        max-width: 100%;
    }
}


/* majorities tbilisi */
.majorities-tbilisi {
    outline: none;
}

@media (max-width:767px) {
    .majorities-tbilisi {
        padding-top: 15px;
    }
}

.majorities-tbilisi .majorities-title {
    color: #0C1422;
    font-size: 35px;
    font-family: 'FiraGO-Bold';
    transition: 0.3s;
    line-height: 50px;
    height:105px;
    overflow: hidden;
}


@media (max-width:1200px) {
    .majorities-tbilisi .majorities-title {
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width:1000px) {
    .majorities-tbilisi .majorities-title {
        font-size: 25px;
        line-height: 35px;
    }
}

@media (max-width:850px) {
    .majorities-tbilisi .majorities-title {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width:767px) {
    .majorities-tbilisi .majorities-title {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: -50px!important;
    }
}

.majorities-tbilisi .change_cl:hover .majorities-title {
    color: #27509C;
}

.majorities-tbilisi .downarrow {
    width: 7.66px;
    height: 7.66px;
    margin-left: 5px;


}

.majorities-tbilisi .down {
    position: absolute;
    bottom: 0;
}

.majorities-tbilisi .biography {
    color: #646464;
    font-size: 16px;
    font-family: 'FiraGO-Light';
    font-weight: 200;
    text-decoration: none;
}

.majorities-tbilisi .change_cl .down .cesko-btn {
    background: #27449C;
    color: #ffffff;
    width: 58px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-family: FiraGO-Regular;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.majorities-tbilisi .change_cl .down .cesko-btn_1 {
    background: #B2B2B2;
    color: #ffffff;
    width: 58px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-family: "Larsseit-Bold";
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}


.majorities-tbilisi .change_cl:hover .cesko-btn {
    background: #FDB714;
    color: #ffffff;
}

.majorities-tbilisi .change_cl:hover .cesko-btn_1 {
    background: #FDB714;
    color: #ffffff;
}



.majorities-tbilisi .change_cl .down img.img1 {
    width: 75px;
    height: 40px;
}

.majorities-tbilisi .majorities-tbilisi-image {
    width: 192px;
    height: 241px;
}



.majorities-tbilisi p.political-desc {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    margin-bottom: 0;
    color: #27449C;
    line-height: 30px;
}


@media (max-width:1200px) {
    .majorities-tbilisi p.political-desc {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width:1000px) {
    .majorities-tbilisi p.political-desc {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width:850px) {
    .majorities-tbilisi p.political-desc {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width:767px) {
    .majorities-tbilisi p.political-desc {
        font-size:14px;
        line-height: 20px;
    }
}

.majorities-tbilisi .breadcrumb-title {
    font-family: 'FiraGO-Regular';
    font-size: 19px;
    color: #B2B2B2;
    padding: 10px 0 0;
    border-bottom: 3px solid #fff;
    background: #ffffff;
}

.majorities-tbilisi .breadcrumb-title:hover {
    color: #0C1422;
    cursor: pointer;
    border-bottom: 3px solid #FDB714;
}

.majorities-tbilisi .breadcrumb-title:focus {
    border-bottom: 3px solid #FDB714;
    color: #27449C;
    outline: none;
    font-family: "FiraGO-Medium";
}


@media (max-width:997px) {
    .majorities-tbilisi .breadcrumb-title {
        font-size: 15px;
    }
}


@media (max-width:767px) {
    .majorities-tbilisi .breadcrumb-title:hover {
        border-bottom: 1.5px solid #FDB714;
    }
    .majorities-tbilisi .breadcrumb-title:focus {
        border-bottom: 1.5px solid #FDB714;
    }
}

.majorities-tbilisi .breadcrumb-item_other span {
    font-size: 20px!important;
    color: #27509C;
    font-family: "FiraGO-SemiBold";
}

.btn-major {
    background: #FFFFFF;
    border-radius: 10px;
    color: #B2B2B2;
    height: 62px;
    padding: 0px 30px;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    border: 1px solid #EBEBEB;
    transition: 0.3s;
    display: block;
    text-align: center;
    line-height: 61px;

}


.btn-majoritarian {
    background: #FFFFFF;
    border-radius: 10px;
    color: #B2B2B2;
    height: 61px;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    border: 1px solid #EBEBEB;
    transition: 0.3s;
    line-height: 62px;
    text-align: center;


}




.majorities-tbilisi a h1:hover.btn-major {
    background: #4D81E2;
    color: #ffffff;
    outline: none;
}


.majorities-tbilisi .form-control {
    outline: none;
    width: 100%;
    height: 62px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    font-family: "FiraGO-Regular";
    color: #B2B2B2;
}

.majorities-tbilisi a.btn-map {
    border: 1px solid #EBEBEB;
    background: #ffffff;
    border-radius: 10px;
    height: 50px;
    padding: 0 30px;
    font-family: "FiraGO-Regular";
    font-size: 16px;
    color: #B2B2B2;
    transition: 0.5s;
}

.majorities-tbilisi a.btn-map path {
    transition: 0.5s;
}

.majorities-tbilisi a.btn-map:hover path {
    fill: #ffffff;
}

.majorities-tbilisi a.btn-map:hover {
    border: 1px solid #EBEBEB;
    background: #3EBA73;
    color: #ffffff;
}



/* World Media */
.world-media {
    outline: none;
}

@media (min-width:767px) {
    .world-media .img-responsive {
        max-width: 398px;
    }
}

.world-media .media-title{
    font-family: "FiraGO-SemiBold";
    font-size:25px;
    line-height: 40px;
    color: #0C1422;
    transition: 0.3s;
}

.world-media p.news-description {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 15px!important;
    line-height: 28px;
    transition: 0.3s;
}

.world-media .date-box-title span {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    border-bottom: 2px solid #ffffff;
    transition: 0.3s;
    padding-bottom: 5px;
}

.world-media .world-news:hover .media-title {
    color: #143676;
}

.world-media .world-news:hover .date-box-title span {
    border-bottom: 2px solid #FDB714;
}

.world-media .world-news {
    margin-bottom: 55px;
}

.world-media .gd-pagination {
    border-top: 1px solid #EBEBEB;
    margin-bottom: 85px;
}


/* photo-gallery */

.photo-gallery {
    outline: none;
}

@media (min-width:767px) {
    .photo-gallery .img-responsive {
        max-width: 398px;
    }
}

.photo-gallery .photo-title {
    font-size: 20px;
    font-family: "FiraGO-SemiBold";
    color: #0C1422;
}

.photo-gallery .play {
    position: absolute;
    top: 15px;
    right: 30px;
}

.photo-gallery .gd-pagination {
    border-top: 1px solid #EBEBEB;
    margin-bottom: 85px;
    margin-top: 50px;
}


/* video-gallery */

.video-gallery {
    outline: none;
}

@media (min-width:767px) {
    .video-gallery .img-responsive {
        max-width: 398px;
    }
}

.video-gallery .video-title {
    font-size: 20px;
    font-family: "FiraGO-SemiBold";
    color: #0C1422;
}

.video-gallery .play {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}

.video-gallery .play img {
    border-radius: 10px;
}

.video-gallery .gd-pagination {
    border-top: 1px solid #EBEBEB;
    margin-bottom: 85px;
    margin-top: 50px;
}


/* contact */

.contact {
    outline: none;
}

.contact .info h5 {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #B2B2B2;
    font-weight: normal;
}

.contact .info .contact-title {
    font-size: 20px;
    font-family: "FiraGO-Regular";
    color: #0C1422;
}

.contact .info .btn-send {
    background: #4D81E2;
    color: #ffffff;
    padding: 35px 30px;;
    border-radius: 10px;
    font-size: 20px;
    font-family: "FiraGO-Regular";
    border: 1px solid #4D81E2;
    transition: 0.3s;
}

.contact .info .btn-send:hover {
    color: #4D81E2;
    border: 1px solid #4D81E2;
    background: #ffffff;
}

.contact .info .btn-send svg path {
    stroke: #ffffff;
    transition: 0.3s;
}

.contact .info .btn-send:hover svg path {
    stroke: #4D81E2;
}

.contact .info p {
    color: #B2B2B2;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    font-weight: 200;
}

.contact .info .share img {
    width: 50px;
    height: 50px;
}

.contact .info .share h5 {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #B2B2B2;
    padding-top: 15px;
}

.contact .send-box {
    background: #F8F8F8;
    padding: 50px;
}

@media (max-width:900px) {
    .contact .send-box  {
        padding:25px;
    }
}

.contact .send-box .btn-send {
    background: #4D81E2;
    color: #ffffff;
    max-width: 100%;
    width: 100%;
    /* padding: 25px 0; */
    border-radius: 10px;
    font-size: 20px;
    font-family: "FiraGO-Regular";
    border: 1px solid #4D81E2;
    transition: 0.3s;
    height: auto;
    display: block;
    cursor: pointer;
    outline: none;
    height: 90px;
    padding-left: 40px;
    margin-top: 22px;
}

@media (max-width:767px) {
    .contact .send-box .btn-send {
        font-size: 16px;
    }
}

/*.contact .send-box .btn-send:hover {
    color: #4D81E2;
    border: 1px solid #4D81E2;
    background: #ffffff;
}*/

.contact .send-box .btn-send svg path {
    stroke: #ffffff;
    transition: 0.3s;
}

/*.contact .send-box .btn-send:hover svg path {
    stroke: #4D81E2;
}*/

.contact .send-box input {
    color: #B2B2B2!important;
    font-size: 13px!important;
    font-family: "FiraGO-Regular"!important;
    background: #ffffff!important;
    border: 1px solid #CECECE!important;
    font-weight: 200;
    border-radius: 10px;
    height: 80px;
    padding-left: 30px;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact .send-box textarea {
    color: #B2B2B2;
    font-size: 13px;
    font-family: "FiraGO-Regular";
    background: #ffffff;
    border: 1px solid #CECECE;
    font-weight: 200;
    border-radius: 10px;
    padding: 20px 30px 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* GD Pagidation */

.gd-pagination .previous {
    width: 78px;
    height: 50px;
    padding: 20px 30px;
    border-radius: 999px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.gd-pagination .next {
    width: 78px;
    height: 50px;
    padding: 20px 30px;
    border-radius: 999px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.gd-pagination .number {
    width: 42px;
    height: 42px;
    padding: 20px;
    border-radius: 999px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    background: #EBEBEB;
    color: #646464;
}

.gd-pagination .number:hover {
    background: #4D81E2;
    color: #ffffff;
}
.navbar-nav .dropdown>.dropdown-menu.show {
    -webkit-box-shadow: 10px 13px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 32px 0px rgba(0,0,0,0.75);
    left: 0;
    right: auto;
    margin-left: 110px;
}

.navbar-nav .dropdown>.dropdown-menu.showing {
    left: 0;
    right: auto;
    margin-left: 110px;
}


.dropdown-item{
    color:#626262;
    -moz-font-feature-settings: 'case';
    -webkit-font-feature-settings: 'case';
    font-feature-settings: 'case' on;
}



/* young news */

.young-news {
    outline: none;
}

.young-news p.news-description {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #646464;
    font-weight: 200;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.young-news .description p {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.young-news .about-title {
    font-family: 'FiraGO-SemiBold';
    font-size: 25px;
    margin-bottom: 30px;
    color: #0C1422;
    line-height: 40px;
}
@media (max-width:768px) {
    .young-news .about-title {
        font-size: 16px;
    }
    .young-news .description p {
        font-size: 16px;
    }
}



.young-news p.date-box-title {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    font-weight: normal;
}

.young-news div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
}

.young-news .play {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}

.young-news .play img {
    border-radius: 10px;
}

.young-news .b-b {
    border-bottom: 1px solid #EBEBEB;
}

.young-news .b-t {
    border-top: 1px solid #EBEBEB;
}
@media (max-width:768px) {
    .young-news .b-t {
        border-bottom: 1px solid #EBEBEB;
        border-top: 0;
    }
}
.young-news .young-share-zone {
    width: 471px;
}

/* transfers */
.transfers {
    outline: none;
}
.transfers .transfer-poster-background {
    height: 100%;
}
.transfers .transfer-title {
    font-family: 'FiraGO-SemiBold';
    font-size: 25px;
    margin-bottom: 30px;
    color: #0C1422;
    line-height: 40px;
}
.transfers .transfer-date {
    font-family: 'FiraGO-Regular';
    font-size: 16px;
    color: #27509C;
    line-height: 25px;
}
@media (max-width:768px) {
    .transfers .transfer-title {
        font-size: 16px;
        line-height: 25px;
    }
    .transfers .transfer-date {
        font-size: 13px;
    }
}



/* search result */
.search-result {
    outline: none;
}
.search-result .search-result-number {
    color: #143676;
    font-family: "FiraGO-Bold";
}
.search-result .searched-description {
    color: #4D81E2;
    font-family: "FiraGO-Bold";
}
.search-result .searched-word {
    color: #4D81E2;
    font-family: "FiraGO-Bold";
}
.search-result .search-title {
    color: #0C1422;
    font-family: "FiraGO-Light";
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
@media (max-width:768px) {
    .search-result .search-title{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}
.search-result .date-box-title {
    color: #27509C;
    font-family: "FiraGO-Light";
    font-size: 13px;
    line-height: 25px;
    margin-top: 0;
}



/* archive news */

.archive-news {
    outline: none;
}

.archive-news p.news-description {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #646464;
    font-weight: 200;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.archive-news .description p {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.archive-news .about-title {
    font-family: 'FiraGO-SemiBold';
    font-size: 25px;
    margin-bottom: 30px;
    color: #0C1422;
    line-height: 40px;
}

.archive-news p.date-box-title {
    font-family: "FiraGO-Regular";
    color:#27509C;
    font-size:16px;
    font-weight: normal;
}

.archive-news div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 125px;
}

.archive-news .play {
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}

.archive-news .play img {
    border-radius: 10px;
}

.archive-news .b-b {
    border-bottom: 1px solid #EBEBEB;
}

.archive-news .b-t {
    border-top: 1px solid #EBEBEB;
}

.progress circle {
    fill: #fff;
    stroke:#EBEBEB;
   /* stroke: #4D81E2;*/
    stroke-width: 2;
    font-family:FiraGO-Regular;
}
.text{
    font-family:FiraGO-Regular!important;
}


.active_tab {
    color: #0C1422!important;
    cursor: pointer!important;
    border-bottom: 3px solid #FDB714!important;
}



@media (max-width:767px) {
    .proportional-tbilisi {
        padding-top: 135px;
    }
}

.proportional-tbilisi .proportional-candidates-title {
    color: #0C1422;
    font-size: 35px;
    font-family: 'FiraGO-Bold';
    transition: 0.3s;
    line-height: 50px;
}

.proportional-tbilisi .change_cl:hover .proportional-candidates-title {
    color: #646464;
}

@media (max-width:768px) {
    .proportional-tbilisi .proportional-candidates-title {
        font-size: 17px;
        line-height: 25px;
    }
}

.proportional-tbilisi .proportional-title {
    color: #0C1422;
    font-size: 35px;
    font-family: 'FiraGO-Bold';
    transition: 0.3s;
    line-height: 50px;
}


@media (max-width:1200px) {
    .proportional-tbilisi .proportional-title {
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width:1000px) {
    .proportional-tbilisi .proportional-title {
        font-size: 25px;
        line-height: 35px;
    }
}

@media (max-width:850px) {
    .proportional-tbilisi .proportional-title {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width:768px) {
    .proportional-tbilisi .proportional-title {
        font-size: 17px;
        line-height: 25px;
    }
}

.proportional-tbilisi .change_cl:hover .proportional-title {
    color: #27509C;
}

.proportional-tbilisi .downarrow {
    width: 7.66px;
    height: 7.66px;
    margin-left: 5px;


}

.proportional-tbilisi .down {
    position: absolute;
    bottom: 0;
}

.proportional-tbilisi .biography {
    color: #646464;
    font-size: 16px;
    font-family: 'FiraGO-Light';
    font-weight: 200;
    text-decoration: none;
}

.proportional-tbilisi .change_cl .down .cesko-btn {
    background: #27449C;
    color: #ffffff;
    width: 58px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-family: "Larsseit-Bold";
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.proportional-tbilisi .change_cl .down .cesko-btn_1 {
    background: #B2B2B2;
    color: #ffffff;
    width: 58px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    font-family: "Larsseit-Bold";
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}


.proportional-tbilisi .change_cl:hover .cesko-btn {
    background: #FDB714;
    color: #ffffff;
}

.proportional-tbilisi .change_cl:hover .cesko-btn_1 {
    background: #FDB714;
    color: #ffffff;
}


.proportional-tbilisi p.political-desc {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    margin-bottom: 0;
    color: #27449C;
    line-height: 30px;
}


@media (max-width:1200px) {
    .proportional-tbilisi p.political-desc {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width:1000px) {
    .proportional-tbilisi p.political-desc {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width:850px) {
    .proportional-tbilisi p.political-desc {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width:767px) {
    .proportional-tbilisi p.political-desc {
        font-size:14px;
        line-height: 20px;
    }
}

.proportional-tbilisi .breadcrumb-title {
    font-family: 'FiraGO-Regular';
    font-size: 19px;
    color: #B2B2B2;
    padding: 10px 0 0;
    border-bottom: 3px solid #fff;
    background: #ffffff;
}

.proportional-tbilisi .breadcrumb-title:hover {
    color: #0C1422;
    cursor: pointer;
    border-bottom: 3px solid #FDB714;
}

.proportional-tbilisi .breadcrumb-title:focus {
    border-bottom: 3px solid #FDB714;
    color: #27449C;
    outline: none;
    font-family: "FiraGO-Medium";
}


@media (max-width:997px) {
    .proportional-tbilisi .breadcrumb-title {
        font-size: 15px;
    }
}


@media (max-width:767px) {
    .proportional-tbilisi .breadcrumb-title:hover {
        border-bottom: 1.5px solid #FDB714;
    }
    .proportional-tbilisi .breadcrumb-title:focus {
        border-bottom: 1.5px solid #FDB714;
    }
}

.proportional-tbilisi .breadcrumb-item_other span {
    font-size: 20px!important;
    color: #27509C;
    font-family: "FiraGO-SemiBold";
}

.proportional-tbilisi a h1.btn-major {
    background: #FFFFFF;
    border-radius: 10px;
    color: #B2B2B2;
    width:100%;
    height: 50px;
    padding: 0px 30px;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    border: 1px solid #EBEBEB;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.proportional-tbilisi a h1:hover.btn-major {
    background: #4D81E2;
    color: #ffffff;
    outline: none;
}


.proportional-tbilisi .form-control {
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    cursor: pointer;
    font-family: "FiraGO-Regular";
    color: #B2B2B2;
}

.proportional-tbilisi a.btn-map {
    border: 1px solid #EBEBEB;
    background: #ffffff;
    border-radius: 10px;
    height: 50px;
    padding: 0 30px;
    font-family: "FiraGO-Regular";
    font-size: 16px;
    color: #B2B2B2;
    transition: 0.5s;
}

.proportional-tbilisi a.btn-map path {
    transition: 0.5s;
}

.proportional-tbilisi a.btn-map:hover path {
    fill: #ffffff;
}

.proportional-tbilisi a.btn-map:hover {
    border: 1px solid #EBEBEB;
    background: #3EBA73;
    color: #ffffff;
}

.proportional-tbilisi .proportional-number {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    color: #0C1422;
    position: absolute;
    bottom: 3px;
    left: 23px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.proportional-tbilisi .change_cl:hover .proportional-number {
    background: #FDB714;
    transition: 0.3s;
    border: none;

}

@media (max-width:767px) {
    .proportional-tbilisi .proportional-number{
        position: relative;
        left: 0;
        top:0;
        width: 40px;
        height: 40px;
        color: #27449C;
    }
}

.proportional-tbilisi .proportional-candidates-number {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    color: #0C1422;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.proportional-tbilisi .change_cl:hover .proportional-candidates-number {
    background: #FDB714;
    transition: 0.3s;
    border: none;

}

@media (max-width:768px) {
    .proportional-tbilisi .proportional-candidates-number{
        position: relative;
        left: 0;
        top:0;
        width: 40px;
        height: 40px;
        color: #27449C;
        font-size: 14px;
    }
}



/*popup*/


.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index:99999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgb(255 255 255 / 0.97);
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
   /* top: 10px;*/
    right: auto;
    left: 50%;
    font-size: 40px;
    color:#4D81E2!important;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.nav-click{
    cursor: pointer;
}


/*Carusel*/

#custCarousel .carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

#custCarousel .carousel-item img {
    width: 65%
}

#custCarousel .carousel-control-prev{
    margin-top: 18%;
    margin-bottom: 25%;
}
#custCarousel .carousel-control-next{
    margin-top: 18%;
    margin-bottom: 25%;
}
#custCarousel .play{
    bottom: 10px;
    position: absolute;
    left: 50%;
    height: 32px;
    width: 40px;
    border-radius: 8px;
    background-color: #44444491;
    padding-left: 2px;
    cursor:pointer;
}

#custCarousel .count{
    bottom: 10px;
    position: absolute;
    left: 50%;
    height: 32px;
    width: 40px;
    border-radius: 8px;
    background-color: #44444491;
    padding-left: 2px;
    cursor:pointer;
    color:#fff;
    text-align:center;
    font-weight:bold;
    font-family: 'FiraGO-Regular';
}

.slider-pg{
    /*top: 91%;*/
    bottom:-6px;
    background: unset;
    border-bottom: unset;
    right: 10%;
    position: absolute;
}




/*menu*/



.overlay_menu {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: #fff;
}

.overlay-content-menu {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
}

.closebtn  {
    padding: 8px!important;
    text-decoration: none!important;
    font-size: 36px!important;
    color: #fff!important;
    display: block!important;
    transition: 0.3s!important;
}
.overlay_menu a{
    color:#0C1422;
}

.overlay_menu a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay_menu .closebtn {
   /* position: absolute;
    !* top: 10px;*!

    right: auto;
    left: 50%;*/
    font-size: 40px;
    margin-right: 20px;
}


/*mobile*/
.header_menu{
    background-color:#27509C !important;
    height:149px;
}
.search-input-box{
    position:relative;
}
.search-input-box input{
    font-family:FiraGO-Regular;
    color:#ACACAC;
}
.search-input-icon{
    position: absolute;
    right: 16px;
    top: 21px;
}
.menu-ul{
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
}
.menu-ul li {
    float: left;
    width: 100%;
    TEXT-ALIGN: left;
    font-family:FiraGO-Regular;
}

.menu-ul li ul {
   list-style:none;
}
.menu_foot{
    text-align: left;
    padding-left: 0px;
    font-family: firago-regular;
    color: #ACACAC;
}



/* member inner page */

.member-inner-page-candidates {
    outline: none;
}

@media (max-width:768px) {
    .member-inner-page-candidates {
        padding-top:0px;
    }

}

.member-inner-page-candidates .bor-one {
    width:50px;
    border: 5px solid #FDB714
}


.member-inner-page-candidates p.more {
    font-family: 'FiraGO-Light';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    color: #0C1422;
}

.member-inner-page-candidates a p {
    font-family: 'FiraGO-Light';
    color: #4D81E2;
    font-weight: bold;
    margin-top: 0;
    font-size: 20px;
}

.member-inner-page-candidates .description p {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}


.member-inner-page-candidates .about-title {
    font-family: 'FiraGO-Bold';
    font-size: 20px;
    margin-bottom: 30px;
    color: #0C1422;
}


@media (max-width:768px) {
    .member-inner-page-candidates .description p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 200;
    }
    .member-inner-page-candidates .about-title {
        font-size: 16px;
    }
}

.member-inner-page-candidates .about-title-head {
    font-family: 'FiraGO-Bold';
    font-size: 50px;
    margin-bottom: 30px;
    color: #0C1422;
}

.member-inner-page-candidates .candidate-title {
    font-size: 17px;
    font-family: "FiraGO-Bold";
    color: #0C1422;
    line-height: 25px;
}

.member-inner-page-candidates .candidate-description {
    font-size: 14px;
    font-family: "FiraGO-Light";
    color: #27449C;
    line-height: 20px;
}

.member-inner-page-candidates .breadcrumb-item_other {
    font-size: 20px!important;
    color: #5C5C5C!important;
    font-family: "FiraGO-Regular";
}

.member-inner-page-candidates .breadcrumb_b {
    background: #F7F7F7;
    border-left: 2px solid #27449C;
    display:table!important;
}

.member-inner-page-candidates .breadcrumb_b h1.breadcrumb-item_s {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    color: #27449C;
}

@media (max-width:768px) {
    .member-inner-page-candidates .breadcrumb_b h1.breadcrumb-item_s {
        font-size: 16px;
    }
}

.member-inner-page-candidates .share-1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.member-inner-page-candidates .share {
   position: absolute;
    bottom: 0;
}

.member-inner-page-candidates a .iconfb {
    width: 50px;
    height: 50px;
}

.member-inner-page-candidates a .icontwit {
    width: 50px;
    height: 50px;
}


.member-inner-page-candidates .share .share-on {
    font-size: 16px;
    font-family: 'FiraGO-Regular';
    color: #B2B2B2;
}

.member-inner-page-candidates .structure-image {
    width: 546px;
}

.member-inner-page-candidates .member-inner-info {
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.member-inner-page-candidates .member-inner-ifno .bor-one {
    width: 50px;
    border: 4px solid #FDB714;
}

.member-inner-page-candidates .member-inner-title {
    font-family: FiraGO-Bold;
    font-size: 30px;
    color: #0C1422;;
    line-height: 45px;
}
.btn-major-active{
    background: #4D81E2!important;
    color: #ffffff!important;
    outline: none;
}
.btn-disabled{
    background: #f1f4f8!important;
    border-radius: 10px;
    color: #B2B2B2!important;
    height: 62px;
    padding: 0px 30px;
    font-size: 16px;
    font-family: "FiraGO-Regular";
    border: 1px solid #EBEBEB;
    transition: 0.3s;
    display: flex;
    align-items: center;
}




/* member inner page */

.member-inner-page {
    outline: none;
}

@media (max-width:768px) {
    .member-inner-page {
    }

}

.member-inner-page .bor-one {
    width:50px;
    border: 5px solid #FDB714
}


.member-inner-page p.more {
    font-family: 'FiraGO-Light';
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 0;
    color: #0C1422;
}

.member-inner-page a p {
    font-family: 'FiraGO-Light';
    color: #4D81E2;
    font-weight: bold;
    margin-top: 0;
    font-size: 20px;
}

.member-inner-page .description p {
    font-family: "FiraGO-Regular";
    color: #646464;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}


.member-inner-page .about-title {
    font-family: 'FiraGO-Bold';
    font-size: 20px;
    margin-bottom: 30px;
    color: #0C1422;
}


@media (max-width:768px) {
    .member-inner-page .description p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 200;
    }
    .member-inner-page .about-title {
        font-size: 16px;
    }
}

.member-inner-page .about-title-head {
    font-family: 'FiraGO-Bold';
    font-size: 50px;
    margin-bottom: 30px;
    color: #0C1422;
}

.member-inner-page .breadcrumb-item_other {
    font-size: 20px!important;
    color: #5C5C5C!important;
    font-family: "FiraGO-Regular";
}

.member-inner-page .breadcrumb_b {
    background: #F7F7F7;
    border-left: 2px solid #27449C;
    display:table!important;
}

.member-inner-page .breadcrumb_b h1.breadcrumb-item_s {
    font-family: 'FiraGO-Regular';
    font-size: 20px;
    color: #27449C;
}

@media (max-width:768px) {
    .member-inner-page .breadcrumb_b h1.breadcrumb-item_s {
        font-size: 16px;
    }
}

.member-inner-page .share-1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.member-inner-page .share {
    bottom: 0;
    position:absolute;
}

.member-inner-page a .iconfb {
    width: 50px;
    height: 50px;
}

.member-inner-page a .icontwit {
    width: 50px;
    height: 50px;
}


.member-inner-page .share .share-on {
    font-size: 16px;
    font-family: 'FiraGO-Regular';
    color: #B2B2B2;
}

.member-inner-page .structure-image {
    width: 546px;
}

.member-inner-page .member-inner-info {
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.member-inner-page .member-inner-ifno .bor-one {
    width: 50px;
    border: 4px solid #FDB714;
}

.member-inner-page .member-inner-title {
    font-family: FiraGO-Bold;
    font-size: 30px;
    color: #0C1422;;
    line-height: 45px;
}
.video_gallery_overlay{
    position: absolute;
    background: #27509cb8;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 7px;
}
.video_gallery_overlay_svg{
    left: 48%;
    position: absolute;
    top: 39%;
}
.video_gallery_play_position{
    position:relative;
}
.font-family-regular{
    font-family:FiraGO-Regular;
}

.overlay .bor-one {
    width:50px;
    border: 5px solid #FDB714
}

.news-description {
    font-size: 16px;
    font-family: "FiraGO-Regular";
    color: #646464;
    font-weight: 200;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}




.structure-detail-about {
    width: 50px;
    height: 5px;
    background-color: #FDB714;
    margin-bottom:35px;
}

.href-gray{
    color:#5C5C5C;
}
.href-gray:hover{
    color:#27449C;
}

.mb-80{
    margin-bottom: 80px;
}
.mb-26{
    margin-bottom: 26px;
}
.about-desc li{
    font-family:FiraGO-Regular;
    font-size:20px;
    color: #646464;
    line-height: 30px;
}
.share-on{
    font-family:FiraGO-Regular;
    color:#B2B2B2;
}
.breadcrumb-item_s{
    padding:0px;
    margin:0px;
}
.mb-20{
    margin-bottom:20px;
}
.mr-20{
    margin-right:20px;
}
.pl-38{
    padding-left:38px;
}
.pr-38{
    padding-right:38px!important;
}
.pb-15-px{
    padding-bottom:15px!important;
}
.mb-100-px{
    margin-bottom: 100px!important;
}
.mb-70-px{
    margin-bottom: 70px!important;
}
.mt-15-px{
    margin-top: 14.9px;
}
.description{
    font-family:FiraGO-Regular;
    word-break: break-word;
}




.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px;
    float: right;
}
.bootstrap-select>.dropdown-toggle {
    position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff!important;
    border: 1px solid #ebebeb!important;
    height: 61px!important;
    line-height: 36px!important;
    color: #b3b3b3!important;
    font-family: firago-regular!important;
    font-weight: unset!important;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
    outline: none!important;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
}
.bootstrap-select .dropdown-menu li a span.text{
    font-family:FiraGO-Regular!important;
}
.bootstrap-select .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #143676;
}
.bootstrap-select .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px !important;
    padding-right: 0px!important;
}

.dropdown-item:focus, .dropdown-item:hover {
    outline: 0;
    background-color: #FDB714;
    height: 50px;
    line-height: 33px;
    color: #fff;
}

 .bootstrap-select .dropdown-menu li {
    height: 50px;
    line-height: 33px;
    color:#fff;
    padding-left:20px;
}

 .bootstrap-select .dropdown-menu li a {
    padding-top: 8px;
    color:#fff;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
    content: ''!important;
    border-left: 6px solid transparent!important;
    border-right: 6px solid transparent!important;
    border-bottom: 6px solid #c51818!important;
    position: absolute!important;
    bottom: 26px!important;
    display: none!important;
    right: 10px!important;
    left:0px!important;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:before {
    content: '';
    border-left: 6px solid transparent!important;
    border-right: 6px solid transparent!important;
    border-bottom: 6px solid #c51818!important;
    position: absolute!important;
    bottom: 26px!important;
    display: none!important;
    right: 10px!important;
    left:0px!important;
}

.remove-class-dropdown{
    background-color: unset!important;
    height: unset!important;
    line-height: unset!important;
    color: unset!important;
}
.dropdown-arrow-class{
    position: absolute;
    z-index: 9999;
    right: 23px;
    top: 27px;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: unset!important;
}
/*.search-text:focus, input:focus {
   background-color: #fff;
    color:#4D81E2;


}*/



input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
.wrapper-search{

    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #707070a6;
    z-index: 9999;
    display:none;
}




.source-link{
    width:75px;margin-top:10px;font-family:FiraGO-Regular;
    color:#646464;
}
.gray-href{
    color:#646464;
}
.gray-href:hover{
    color:#646464;
}



.mt-103-px{
    margin-top:103px;
}

.bootstrap-select .dropdown-menu{
    overflow-x:hidden;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 280px!important;
}
.mt-252-px{
    margin-top:200px;
}
.container-custom{
    margin-top: 149px;
}


/*Mobile*/

@media only screen and (max-width: 600px) {

    .content_proportional{
        font-family:FiraGO-Bold!important;
        line-height: 80px;
        font-size: 17px!important;
    }
    .content_proportional li{
        font-family:FiraGO-Bold!important;
        line-height: 80px;
        font-size: 17px!important;
    }
    .content_proportional p{
        font-family:FiraGO-Bold!important;
        line-height: 80px;
        font-size: 17px!important;
        font-family: FiraGO-Bold;

    }
    .content_proportional div{
        font-family:FiraGO-Bold!important;
        line-height: 80px;
        font-size: 17px!important;
    }

    .pl-18-px{
        padding-left: 18px!important;
    }
    .img-gradient{
        display:inline-block;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 34%, rgba(255,255,255,1) 100%);
    }
    .img-grad{
        mask-image: linear-gradient(360deg, rgba(255,255,255,0) -36%,rgb(255 255 255) 100%);
        -webkit-mask-image: linear-gradient(360deg, rgba(255,255,255,0) -36%,rgb(255 255 255) 100%);
    }
    .img-gradient-relative{
        position:relative;
        z-index:-1;
        display:block;
    }
    .member-inner-page .breadcrumb-item_other {
        font-size: 15px!important;
        color: #5C5C5C!important;
        font-family: "FiraGO-Regular";
    }
    .member-inner-page .breadcrumb_b {
        background: #F7F7F7;
        border-left: 2px solid #27449C;
        display: table!important;
        padding-top: 17px!important;
        padding-bottom: 17px!important;
    }
    .btn-disabled{
        background: #f1f4f8!important;
        border-radius: 10px;
        color: #B2B2B2!important;
        height: 61px;
        font-size: 16px;
        font-family: "FiraGO-Regular";
        border: 1px solid #EBEBEB;
        transition: 0.3s;
        line-height: 62px;
        text-align: center;
        display: block;
    }
   .slider-wrapper{
       margin-top:112px!important;
   }
    .breadcrumb-item svg {
        width: 7px;
        height: 14.7px;
        margin-bottom: 2px;
        margin-right: 5px!important;
        margin-top: 4px!important;
    }
    .mb-54 {
        margin-bottom: 0px;
    }
    .gd-news .gd-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        font-size: 15px;
        line-height: 18px;
    }
    .navbar{
        height:112px;
    }
    .header_menu{
        height:112px;
    }
    .overlay_menu .closebtn {
        font-size: 40px;
        margin-right: unset;
    }
    .header_menu{
        padding-left:0px;
        padding-right:0px;
    }
    .line-mobile{
        margin-top:30px;margin-bottom:30px;
    }
    .breadcrumb{
        padding-top:0px!important;
    }
    .breadcrumb-item {
        font-size: 15px!important;
        margin-bottom: 30px;
    }
    .mobile-margin-bottom-none{
        margin-bottom:0px!important;
    }
    .mobile-padding-top-none{
        padding-top:0px!important;
    }
    .internation-news .internation-news-title {
       padding-bottom:0px;
        margin-bottom:0px;
    }
    .container-custom{
        margin-top:112px;
    }
    .margin-top-31-px{
        margin-top:31px!important;
    }
    .margin-bottom-28-px{
        margin-bottom:28px!important;
    }
    .structure-detail-about{
        margin-bottom:18px;
        width:21px;
    }
    .margin-top-30-px{
        margin-top:30px!important;
    }
    .margin-top-50-px{
        margin-top:50px!important;
    }
    .structure {
        padding-top: unset!important;
    }
    .structure .structure-detail{
        width:21px;
        margin-bottom:23px!important;
    }
    .margin-top-30-px{
        margin-top:30px;
    }
    .margin-bottom-30-px{
        margin-bottom:30px;
    }
    .margin-bottom-40-px{
        margin-bottom:40px;
    }
    .member-inner-page .bor-one {
        width: 50px;
        background-color: #FDB714;
        height: 5px;
        border:unset!important;
    }
    .padding-unset-mobile{
        padding:unset!important;
    }
    .contact .send-box{
        background:unset!important;
    }
    .news-title {
        font-size: 16px!important;
        font-family: "FiraGO-SemiBold";
        color: #0C1422!important;
        line-height: 19px!important;
        transition: 0.5s;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3!important;
        -webkit-box-orient: vertical;
    }
    .margin-bottom-30-px{
        margin-bottom:30px!important;
    }
    .archive-news .about-title{
        font-size:16px;
        line-height: 25px;
    }
    .archive-news .description p{
        font-size:16px;
        line-height:25px;
    }

    .archive-news .show-news-icon-prev {
        position: absolute;
        top: 40%;
        left: 10px;
        background: rgb(41 41 41 / 69%);
        width: 40px;
        height: 41px;
        border-radius: 6px;
        cursor: pointer;
        outline:none;
        transition: 0.3s;
    }

    .archive-news .show-news-icon-prev:hover {
        background: rgb(41 41 41 / 69%);
    }

    .archive-news .show-news-icon-prev svg {
       margin-top:13px;
    }

    .archive-news .show-news-icon-next {
        position: absolute;
        top: 40%;
        right: 10px;
        background: rgb(41 41 41 / 69%);
        width: 40px;
        height: 41px;
        border-radius: 6px;
        cursor: pointer;
        outline:none;
        transition: 0.3s;
    }

    .archive-news .show-news-icon-next:hover {
        background: rgb(41 41 41 / 69%);
    }

    .archive-news .show-news-icon-next svg {
       margin-top:13px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: unset!important;
         -webkit-transition:unset!important;
        transition: unset!important;
    }
    .date-box-title{
        border-top:unset!important;
    }
    .breadcrumb-item_other svg{
        margin-bottom: 0px;
    }
    .class_border{
        border-top: unset!important;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width: 100%!important;
    }
    .filter-option-inner-inner{
        font-size: 15px;
    }
    .proportional-tbilisi{
        padding-top: 15px;
    }
    .proportional-tbilisi .proportional-candidates-number {
        position: unset!important;
        left: unset!important;
        top: unset!important;
        width: 40px;
        height: 40px;
        color: #27449C;
        font-size: 14px;
        float: left;
    }
    .dropdown-toggle{
        border-radius:10px!important;
    }
    .majorities-tbilisi .breadcrumb-title:hover{
        border-bottom: 3px solid #FDB714!important;
        padding-bottom: 5px!important;
    }
    .proportional-tbilisi .breadcrumb-title:hover{
        border-bottom: 3px solid #FDB714!important;
        padding-bottom: 5px!important;
    }
    .active_tab{
        padding-bottom: 5px!important;
    }
    .search-result .search-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3!important;
        -webkit-box-orient: vertical;
    }
    .photo-gallery .photo-title{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4!important;
        -webkit-box-orient: vertical;
        font-size:16px;
    }

    /* show-photo-gallery */

    .show-photo-gallery {
        padding-top: 30px;
        outline: none;
    }

    .show-photo-gallery .photo-title {
        font-size: 16px;
        font-family: "FiraGO-SemiBold";
        color: #0C1422;
        line-height: 25px;
    }

    .show-photo-gallery .mr-28 {
        margin-right: 28px;
    }





    .gallery .show-news-icon-prev {
        position: absolute;
        top: 40%;
        left: 10px;
        background: rgb(41 41 41 / 69%);
        width: 40px;
        height: 41px;
        border-radius: 6px;
        cursor: pointer;
        outline:none;
        transition: 0.3s;
    }

    .gallery .show-news-icon-prev:hover {
        background: rgb(41 41 41 / 69%);
    }

    .gallery .show-news-icon-prev svg {
        margin-top:13px;
    }

    .gallery .show-news-icon-next {
        position: absolute;
        top: 40%;
        right: 10px;
        background: rgb(41 41 41 / 69%);
        width: 40px;
        height: 41px;
        border-radius: 6px;
        cursor: pointer;
        outline:none;
        transition: 0.3s;
    }

    .gallery .show-news-icon-next:hover {
        background: rgb(41 41 41 / 69%);
    }

    .gallery .show-news-icon-next svg {
        margin-top:13px;
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 15%;
        color: #fff;
        text-align: center;
        opacity: unset!important;
        -webkit-transition:unset!important;
        transition: unset!important;
    }
    .font-family-firago-regular{
        font-family:FiraGO-Regular;
    }
    .video_gallery_overlay_svg {
        left: 43%!important;
        position: absolute;
        top: 31%!important;
    }
    .video-title{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4!important;
        -webkit-box-orient: vertical;
        font-size:16px!important;
    }
    .overlay .closebtn {
        position: absolute!important;
        top: 18px!important;
        right: 18px!important;
        left:unset!important;
        font-size: 40px!important;
        color: #4D81E2!important;
    }
    .overlay-content {
        position: relative;
        top: 17%;
        width: 100%;
        text-align: center;
    }
    .member-inner-page-candidates .breadcrumb-item_other{
        font-size:15px!important;
    }


}

.class_border{
    border-top: 1px solid #EBEBEB;
}


.black-color{
    color:#0C1422!important;
}
.blue-color{
    color:#27509C;
}
.content_proportional{
    font-family:FiraGO-Bold;
    line-height: 80px;
    font-size: 25px;
}
.content_proportional li{
    font-family:FiraGO-Bold;
    line-height: 35px;
    font-size: 25px;
}
.content_proportional p{
    font-family:FiraGO-Bold;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 5px;
}
.content_proportional div{
    font-family:FiraGO-Bold;
    line-height: 80px;
    font-size: 25px;
}
.facebook_hover{
    fill:#0d8cf1;
}
.facebook_hover:hover{
    fill:#22a2f2;
}

.youtube_hover{
    fill:red;
}
.youtube_hover:hover{
    fill:#ef2e2e;
}
.twitter_hover{
    fill:#1fa2f2;
}
.twitter_hover:hover{
    fill:#4fb9f9;
}

footer .input-form:focus::-webkit-input-placeholder{
    color: #b2b2b2;
}

footer .input-form:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
}

footer .input-form:focus::placeholder {
    color: #b2b2b2;
}



footer .input-form{
    color: #7f7f7f;
}

footer .input-form { /* Internet Explorer 10-11 */
    color: #7f7f7f;
}

footer .input-form {
    color: #7f7f7f;
}




.contact .send-box input:focus::-webkit-input-placeholder{
    color: #b2b2b2;
}

.contact .send-box input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
}

.contact .send-box input:focus::placeholder {
    color: #b2b2b2;
}



.contact .send-box input{
    color: #7c7c7c!important;
}

.contact .send-box input { /* Internet Explorer 10-11 */
    color: #7c7c7c!important;
}

.contact .send-box input {
    color: #7c7c7c!important;
}





.contact .send-box textarea:focus::-webkit-input-placeholder{
    color: #b2b2b2;
}

.contact .send-box textarea:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2b2b2;
}

.contact .send-box textarea:focus::placeholder {
    color: #b2b2b2;
}



.contact .send-box textarea{
    color: #7c7c7c!important;
}

.contact .send-box textarea { /* Internet Explorer 10-11 */
    color: #7c7c7c!important;
}

.contact .send-box textarea {
    color: #7c7c7c!important;
}
.bootstrap-select .dropdown-menu{
    height:200px!important;
}
.page-active{
    background: #4D81E2!important;
    color: #ffffff!important;
}
.src-btn{
    background: unset!important;
    outline: none!important;
    border: unset!important;
    margin-top: 0px!important;
}